@charset "UTF-8";
.summary_main .summary_btn, .works_btn, .intro_btn {
  background: #0E8784;
  border-radius: 6px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  color: #FEFCF7;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_logo {
  width: 236px;
}
.nav_list {
  display: flex;
  align-items: center;
  gap: 33px;
}
.nav_link {
  /* HOME */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.nav_burger {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_list {
    display: none;
  }
  .nav_logo {
    width: 163px;
  }
  .nav_burger {
    display: flex;
    align-items: end;
  }
  .nav_hr {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 15px;
    border: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.intro {
  margin-top: 50px;
  background-image: url("../img/coffe.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 105px;
}
.intro_title {
  /* Great coffee made si */
  width: 500px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* or 100% */
  color: #fefcf7;
}
.intro_text {
  width: 450px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.intro_btn {
  margin-top: 30px;
}

@media only screen and (max-width: 450px) {
  .intro {
    padding: 60px 50px;
    background-position: center;
    border-radius: 20px;
  }
  .intro_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro_title {
    width: 279px;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
  }
  .intro_text {
    /* Start your mornings */
    width: 279px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
  }
}
.collect {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collect_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.collect_cards {
  display: flex;
  align-items: center;
  margin-top: 210px;
  flex-direction: column;
}
.collect_title {
  width: 255px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #333d4b;
}
.collect_text {
  width: 255px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: #333d4b;
}

@media only screen and (max-width: 450px) {
  .collect {
    margin-top: 100px;
    flex-direction: column;
    gap: 0;
  }
  .collect_card {
    flex-direction: column;
  }
  .collect_cards {
    align-items: center;
    margin-top: 50px;
  }
  .collect_img {
    width: 200px;
  }
  .collect_title {
    width: 255px;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
  }
  .collect_text {
    width: 280px;
    /* Light and flavorful */
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }
}
.choose {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 100px 0;
  width: 100%;
  height: 577px;
  background: #2c343e;
  border-radius: 10px;
}
.choose_title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.choose_text {
  /* A large part of our */
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: #fefcf7;
}
.choose_cards {
  position: absolute;
  top: 400px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.choose_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 350px;
  height: 382px;
  background-color: #0e8784;
  border-radius: 10px;
}
.choose_subtitle {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}
.choose_subtext {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}

@media only screen and (max-width: 450px) {
  .choose {
    height: 900px;
    justify-content: start;
    padding: 20px 0px;
  }
  .choose_title {
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
  }
  .choose_text {
    width: 90%;
  }
  .choose_cards {
    flex-direction: column;
    top: 300px;
  }
  .choose_card {
    width: 300px;
  }
}
.works {
  margin-top: 500px;
}
.works_maintitle {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.works_sircile {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.works_box {
  width: 60px;
  height: 60px;
  border: 1px solid green;
  border-radius: 50%;
}
.works_hr {
  width: 600px;
}
.works_cards {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 150px;
}
.works_title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.works_subtitle {
  width: 250px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.works_text {
  margin-top: 30px;
  width: 285px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
.works_btn {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .works {
    margin-top: 800px;
  }
  .works_maintitle {
    text-align: center;
  }
  .works_sircile {
    display: none;
  }
  .works_cards {
    flex-direction: column;
    gap: 50px;
  }
  .works_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .works_text {
    text-align: center;
  }
  .works_subtext {
    text-align: center;
  }
  .works_title {
    text-align: center;
  }
  .works_btn {
    margin-top: 50px;
    margin-left: 80px;
  }
}
.footer {
  padding: 50px 150px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.694);
}
.footer_logo {
  width: 236px;
}
.footer_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.footer_items {
  list-style: none;
}
.footer_link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: #83888f;
}
.footer_media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

svg {
  width: 25px;
  height: 24px;
  fill: none;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 50px;
  }
  .footer_logo {
    width: 220px;
  }
  .footer_list {
    flex-direction: column;
    width: 200px;
    gap: 20px;
  }
}
.aboutIntro {
  margin-top: 50px;
  background-image: url(../img/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px;
  height: 500px;
  border-radius: 20px;
}
.aboutIntro_title {
  /* About Us */
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #fefcf7;
}
.aboutIntro_text {
  /* Coffeeroasters began */
  width: 445px;
  margin-top: 30px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
}

@media only screen and (max-width: 768px) {
  .aboutIntro {
    background-position: center;
    padding: 50px;
    height: 400px;
  }
  .aboutIntro_text {
    width: 100%;
  }
}
.our {
  margin-top: 144px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.our_img {
  width: 445px;
}
.our_title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #333d4b;
}
.our_text {
  margin-top: 30px;
  /* We’re built on a sim */
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .our {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .our_left {
    width: 100%;
  }
  .our_img {
    width: 100%;
  }
  .our_title {
    font-weight: 900;
    font-size: 32px;
    text-align: center;
  }
  .our_text {
    /* We’re built on a sim */
    width: 390px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }
}
.quality {
  position: relative;
  margin-top: 256px;
  background-color: #2c343e;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.quality_title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
.quality_text {
  width: 540px;
  margin-top: 30px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.quality_img {
  position: absolute;
  top: -90px;
  right: 100px;
}

@media only screen and (max-width: 768px) {
  .quality {
    margin-top: 300px;
    min-height: 400px;
    flex-direction: column;
    align-items: center;
  }
  .quality_left {
    width: 80%;
  }
  .quality_title {
    margin-top: 50px;
    width: 80%;
    font-size: 32px;
  }
  .quality_text {
    margin-top: 30px;
    width: 100%;
  }
  .quality_right {
    width: 50%;
  }
  .quality_img {
    width: 80%;
    top: -210px;
    height: 320px;
    left: 10%;
    border-radius: 20px;
  }
}
.country_subtitle {
  /* Our headquarters */
  margin-left: 130px;
  margin-top: 30px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #83888f;
}
.country_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.country_card {
  margin-top: 150px;
}

@media only screen and (max-width: 768px) {
  .country_subtitle {
    width: 25%;
  }
  .country_cards {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .country_card {
    align-items: center;
  }
}
.creatIntro {
  margin-top: 50px;
  background-image: url(../img/back3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px;
  height: 500px;
  border-radius: 20px;
}
.creatIntro_title {
  /* Create a plan */
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */
  color: #fefcf7;
}
.creatIntro_text {
  /* Build a subscription */
  width: 445px;
  margin-top: 30px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.creatworks {
  background-color: #2c343e;
  border-radius: 20px;
}
.creatworks .creat_title {
  /* 01 */
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */
  color: #fdd6ba;
}

.drink {
  margin-top: 159px;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.drink_left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.drink_hr {
  box-sizing: content-box;
  height: 0;
}
.drink_title {
  /* 01 */
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #0e8784;
}
.drink_subtitle {
  /* Preferences */
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #333d4b;
}
.drink_box {
  display: flex;
  align-items: center;
  gap: 50px;
}
.drink_right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.drink_top {
  display: flex;
  align-items: center;
  gap: 100px;
}
.drink_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.drink_cards {
  width: 228px;
  height: 250px;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 30px;
}
.drink_cards_title {
  /* Capsule */
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #333d4b;
}
.drink_cards_text {
  /* For pour over or dri */
  width: 70%;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: black;
}

@media only screen and (max-width: 768px) {
  .drink_left {
    display: none;
  }
  .drink_cards {
    width: 100%;
  }
  .drink_bottom {
    flex-direction: column;
    gap: 50px;
  }
}
.summary_main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.summary_main .summary {
  margin-top: 50px;
  width: 760px;
  height: 300px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #2c343e;
  border-radius: 20px;
  margin-right: 180px;
}
.summary_main .summary_title {
  /* Order Summary */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.summary_main .summary_text {
  /* “I drink my coffee a */
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */
  color: #ffffff;
}
.summary_main .summary_span {
  color: #0e8784;
}
.summary_main .summary_btn {
  margin-top: 50px;
  margin-right: 180px;
}

@media only screen and (max-width: 768px) {
  .summary {
    width: 100%;
    margin-right: 0;
  }
  .summary_btn {
    margin-right: 150px;
  }
}/*# sourceMappingURL=style.css.map */