.works_btn, .intro_btn {
  background: #0E8784;
  border-radius: 6px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  color: #FEFCF7;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_logo {
  width: 236px;
}
.nav_list {
  display: flex;
  align-items: center;
  gap: 33px;
}
.nav_link {
  /* HOME */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.nav_burger {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (max-width: 450px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_list {
    display: none;
  }
  .nav_logo {
    width: 163px;
  }
  .nav_burger {
    display: flex;
    align-items: end;
  }
  .nav_hr {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 15px;
    border: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.intro {
  margin-top: 50px;
  background-image: url("../img/coffe.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 105px;
}
.intro_title {
  /* Great coffee made si */
  width: 500px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* or 100% */
  color: #fefcf7;
}
.intro_text {
  width: 450px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.intro_btn {
  margin-top: 30px;
}

@media only screen and (max-width: 450px) {
  .intro {
    padding: 60px 50px;
    background-position: center;
    border-radius: 20px;
  }
  .intro_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro_title {
    width: 279px;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
  }
  .intro_text {
    /* Start your mornings */
    width: 279px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
  }
}
.collect {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collect_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.collect_cards {
  display: flex;
  align-items: center;
  margin-top: 210px;
  flex-direction: column;
}
.collect_title {
  width: 255px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #333d4b;
}
.collect_text {
  width: 255px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: #333d4b;
}

@media only screen and (max-width: 450px) {
  .collect {
    margin-top: 100px;
    flex-direction: column;
    gap: 0;
  }
  .collect_card {
    flex-direction: column;
  }
  .collect_cards {
    align-items: center;
    margin-top: 50px;
  }
  .collect_img {
    width: 200px;
  }
  .collect_title {
    width: 255px;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
  }
  .collect_text {
    width: 280px;
    /* Light and flavorful */
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }
}
.choose {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 100px 0;
  width: 100%;
  height: 577px;
  background: #2c343e;
  border-radius: 10px;
}
.choose_title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.choose_text {
  /* A large part of our */
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: #fefcf7;
}
.choose_cards {
  position: absolute;
  top: 400px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.choose_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 350px;
  height: 382px;
  background-color: #0e8784;
  border-radius: 10px;
}
.choose_subtitle {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}
.choose_subtext {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}

@media only screen and (max-width: 450px) {
  .choose {
    height: 900px;
    justify-content: start;
    padding: 20px 0px;
  }
  .choose_title {
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
  }
  .choose_text {
    width: 90%;
  }
  .choose_cards {
    flex-direction: column;
    top: 300px;
  }
  .choose_card {
    width: 300px;
  }
}
.works {
  margin-top: 500px;
}
.works_maintitle {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.works_sircile {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.works_box {
  width: 60px;
  height: 60px;
  border: 1px solid green;
  border-radius: 50%;
}
.works_hr {
  width: 600px;
}
.works_cards {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 150px;
}
.works_title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.works_subtitle {
  width: 250px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.works_text {
  margin-top: 30px;
  width: 285px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
.works_btn {
  margin-top: 50px;
}

@media only screen and (max-width: 450px) {
  .works {
    margin-top: 800px;
  }
  .works_maintitle {
    text-align: center;
  }
  .works_sircile {
    display: none;
  }
  .works_cards {
    flex-direction: column;
    gap: 50px;
  }
  .works_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .works_text {
    text-align: center;
  }
  .works_subtext {
    text-align: center;
  }
  .works_title {
    text-align: center;
  }
  .works_btn {
    margin-top: 50px;
    margin-left: 80px;
  }
}
.footer {
  padding: 50px 150px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.694);
}
.footer_logo {
  width: 236px;
}
.footer_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.footer_items {
  list-style: none;
}
.footer_link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: #83888f;
}
.footer_media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

svg {
  width: 25px;
  height: 24px;
  fill: none;
}

@media only screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    gap: 50px;
  }
  .footer_logo {
    width: 220px;
  }
  .footer_list {
    flex-direction: column;
    width: 200px;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */