.choose {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 100px 0;
  width: 100%;
  height: 577px;
  background: #2c343e;
  border-radius: 10px;
  &_title {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #fefcf7;
  }
  &_text {
    /* A large part of our */
    width: 540px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;

    color: #fefcf7;

  }
  &_cards {
    position: absolute;
    top: 400px;
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 350px;
    height: 382px;
    background-color: #0e8784;
    border-radius: 10px;
  }
  &_subtitle {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fefcf7;
  }
  &_subtext {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fefcf7;
  }
}
