.collect {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include Display;

  &_card {
    @include Display;
    gap: 70px;
  }
  &_cards {
    display: flex;
    align-items: center;
    margin-top: 210px;
    flex-direction: column
  }
  &_title {
    width: 255px;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    text-align: center;

    color: #333d4b;
  }
  &_text {
    width: 255px;

    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;

    color: #333d4b;
  }
}

@media only screen and (max-width: 450px) {
  .collect {
    margin-top: 100px;
    flex-direction: column;
    gap: 0;

    &_card {
      flex-direction: column;
    }
    &_cards {
      align-items: center;
      margin-top: 50px;
    }
    &_img {
      width: 200px;
    }
    &_title {
      width: 255px;
      text-align: center;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      /* identical to box height, or 133% */
    }
    &_text {
      width: 280px;
      /* Light and flavorful */
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
  }
}
