.intro {
  margin-top: 50px;
  background-image: url("../img/coffe.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 105px;

  &_title {
    /* Great coffee made si */
    width: 500px;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* or 100% */

    color: #fefcf7;
  }
  &_text {
    width: 450px;

    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #fefcf7;

    mix-blend-mode: normal;
    opacity: 0.8;
  }
  &_btn {
    @extend %Btn-style;
    margin-top: 30px;
  }
}
