.intro {
  margin-top: 50px;
  background-image: url("../img/coffe.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 105px;

  &_title {
    /* Great coffee made si */
    width: 500px;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* or 100% */

    color: #fefcf7;
  }
  &_text {
    width: 450px;

    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #fefcf7;

    mix-blend-mode: normal;
    opacity: 0.8;
  }
  &_btn {
    @extend %Btn-style;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .intro {

    padding: 60px 50px;
    background-position: center;
    border-radius: 20px;

    &_left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &_title {
      width: 279px;
      text-align: center;
      font-weight: 900;
      font-size: 40px;
      line-height: 40px;
    }
    &_text {
      /* Start your mornings */
      width: 279px;
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */
    }
  }
}
