@mixin Display{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
%Btn-style{


background: #0E8784;
border-radius: 6px;


font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
/* identical to box height, or 139% */
text-align: center;

color: #FEFCF7;


    
    
}