.nav {
  @include Display;

  &_logo {
    width: 236px;
  }

  &_list {
    display: flex;
    align-items: center;
    gap: 33px;
  }
  &_link {
    /* HOME */

    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888f;
  }
  &_burger {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
}

@media only screen and (max-width: 450px) {
  .nav {
    @include Display;

    &_list {
      display: none;
    }
    &_logo{
      width: 163px;
    }
    &_burger {
      display: flex;
      align-items: end;

    }
    &_hr {
      width: 30px;
      height: 3px;
      background-color: black;
      border-radius: 15px;
      border: none;
    }
  }
}
