.works {
  margin-top: 500px;

  &_maintitle {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  }
  &_sircile {
    display: flex;
    align-items: center;
    margin-top: 100px;
  }
  &_box {
    width: 60px;
    height: 60px;
    border: 1px solid green;
    border-radius: 50%;
  }
  &_hr {
    width: 600px;
  }
  &_cards {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 150px;
  }
  &_title {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
  }
  &_subtitle {
    width: 250px;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333d4b;
  }
  &_text {
    margin-top: 30px;
    width: 285px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
  }
  &_btn{
    @extend %Btn-style;
    margin-top: 50px;
  }
}
